<br/>
<br/>
<br/>
<div class="container">
<div class="row col-md-12 col-sm-12">
    <h2>Welcome to the pulse of labour market issues in Alberta </h2>
    <alma-respondents-counter></alma-respondents-counter>
    <h3>A new way to gauge how your company stands up compared to other companies in Alberta. The interactive website is a means to initiate a conversation about labour market challenges Alberta employers are facing today. Explore the charts to discover your results. </h3>
    <p></p>
</div>
<button type="button" class="btn btn-primary" onclick="javascript:dc.filterAll(); dc.renderAll();">Reset</button>
<div class="row col-md-12 col-sm-12">
    <h5>
        <em><strong>Click</strong> on any topic to <strong>activate</strong> this interactive tool.</em>
    </h5>
    <br/>
    <button type="button" class="btn btn-xs btn-success pull-left" data-toggle="modal" data-target="#div-businessInfo"><span class="glyphicon glyphicon-link"></span> Resources for Doing Business in Alberta</button>
</div>
<div class="col-md-12 col-sm-12">

    <div id="dc-bar-industries" class="col-md-4 col-sm-6 col-xs-12">
        <h4>Industries</h4>
    </div>

    <div id="dc-pie-number-of-employees" class="col-md-4 col-sm-6 col-xs-12">
        <h4>Company Size</h4>
    </div>


    <div id="dc-row-regions" class="col-md-4 col-sm-12  col-xs-12">
        <h4>Economic Regions</h4>
    </div>

    <div class="col-md-4 col-sm-12  col-xs-12">

        <!--Modal Begin-->
        <alma-business-info-modal></alma-business-info-modal>
        <!--End Modal-->
    </div>

</div>
<div class="row col-md-12 col-sm-12">
    <h3>Finding and Keeping People</h3>
    <div id="dc-ring-attracting-workers" class="col-md-3 col-sm-4">
        <h4 class="header">
            Difficulty <strong>Finding People</strong> <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#div-recruitment">
                <span class="glyphicon glyphicon-link"></span>
            </button>
        </h4>

        <!--Modal Begin-->
        <alma-employee-recruitment-modal></alma-employee-recruitment-modal>
        <!--End Modal-->

    </div>

    <div id="dc-pie-skills-to-attract" class="col-md-5 col-sm-4  col-xs-12">
        <h4>
            Skills Identified as <strong>Hard to Attract</strong>
        </h4>
    </div>

    <div id="dc-ring-employee-retention" class="col-md-3 col-sm-4  col-xs-12">
        <h4 class="header">
            Difficulty <strong>Keeping People</strong> <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#div-retention">
                <span class="glyphicon glyphicon-link"></span>
            </button>
        </h4>

        <!--Modal Begin-->
        <alma-employee-retention-modal></alma-employee-retention-modal>
        <!--End Modal-->
    </div>
</div>


<div class="col-md-12 col-sm-12">
    <div id="dc-bubble-resources" class="col-md-12 col-sm-12">
        <h4 class="header">
            Government Resources <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#div-resources">
                <span class="glyphicon glyphicon-link"></span></button>
        </h4>
        <!--Modal Begin-->
        <alma-government-resources-modal></alma-government-resources-modal>
        <!--End Modal-->
    </div>
</div>

<div class="col-md-12">
    <h4>Most Common <strong>Incentives</strong></h4>
    <div id="d3-barpie-incentives" class="d3-barpie"></div>
</div>
</div>