<h1>Surveys</h1>
<div class="col-md-10">
    <ul class="surveyKeys">
        <li ng-repeat="surveyKey in vm.surveyKeys">
            <a ui-sref="poc-surveyDetails({surveyKey:surveyKey})">{{surveyKey}}</a>
        </li>
    </ul>
</div>
