<div class="modal fade" id="div-resources" tabindex="-1" role="dialog" aria-labelledby="div-resources" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Government Resources</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <a href="http://www.albertacanada.com/opportunity/immigrating/ainp.aspx" target="_blank">Alberta Immigrant Nominee Program</a>
                            </li>
                            <li>
                                <a href="http://www.albertacanada.com/opportunity/employers/jobgrant-faq.aspx" target="_blank">Canada-Alberta Job Grant FAQ</a>
                            </li>
                            <li>
                                <a href="http://www.cic.gc.ca/english/immigrate/express/express-entry.asp" target="_blank">Express Entry</a>
                            </li>
                            <li>
                                <a href="http://www.jobbank.gc.ca/home-eng.do?lang=eng" target="_blank">Job Bank</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>