<div class="modal fade" id="div-recruitment" tabindex="-1" role="dialog" aria-labelledby="div-recruitment" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Resources for Employee Recruitment</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <a href="http://www.albertacanada.com/opportunity/employers/labour-recruitment.aspx" target="_blank">Labour Recruitment</a>
                            </li>
                            <li>
                                <a href="http://www.servicecanada.gc.ca/eng/audiences/employers/hiring_employees.shtml" target="_blank">Service Canada - Hiring Employees</a>
                            </li>
                            <li>
                                <a href="http://www.jobbank.gc.ca/home-eng.do?lang=eng" target="_blank">Job Bank</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>