<div class="modal fade" id="div-retention" tabindex="-1" role="dialog" aria-labelledby="div-recruitment" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Resources for Employee Retention</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <a href="http://www.albertacanada.com/opportunity/employers/developing-workforce-plan.aspx" target="_blank">Developing your Workforce Plan</a>
                            </li>
                            <li>
                                <a href="http://www.albertacanada.com/opportunity/employers/employee-retention.aspx" target="_blank">Employee Retention</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>