<div class="modal fade" id="div-businessInfo" tabindex="-1" role="dialog" aria-labelledby="div-businessInfo" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Resources for Doing Business in Alberta</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <a href="http://www.programs.alberta.ca/Business/IndexB.aspx?N=772" target="_blank">Programs &amp; Services for Businesses</a>
                            </li>
                            <li>
                                <a href="http://www.albertacanada.com/business/industries/og-about-the-industry.aspx" target="_blank">About the Industry</a>
                            </li>
                            <li>
                                <a href="http://albertacanada.com/employers.aspx" target="_blank">Help for Employers</a>
                            </li>
                            <li>
                                <a href="http://work.alberta.ca/labour/2014-monthly-labour-force-statistics.html" target="_blank">2014 Monthly Labour Force Statistics</a>
                            </li>
                            <li>
                                <a href="http://eae.alberta.ca/economic-development/regional-development/redas.aspx" target="_blank">Regional Economic Development Alliances (REDAs)</a>
                            </li>


                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>