<div class="row">
        <div class="col-md-4 col-sm-4">
            <h2>
                <span class="label label-primary">Industries <span class="badge" id="industriesLabel">{{vm.industriesCount}}</span></span>
            </h2>
        </div>
        <div class="col-md-4 col-sm-4">
            <h2>
                <span class="label label-primary">Respondents <span class="badge" id="respondentsLabel">{{vm.respondentsCount}}</span></span>
            </h2>
        </div>
        <div class="col-md-4 col-sm-4">
            <h2>
                <span class="label label-primary">Regions <span class="badge" id="regionsLabel">{{vm.regionsCount}}</span></span>
            </h2>
        </div>
    </div>