<br/>
<br/>
<br/>
<br/>
<h2>{{vm.title}}</h2>
<goa-progress-bar></goa-progress-bar>
<alma-chart-economic-regions></alma-chart-economic-regions>
<alma-chart-difficulty-finding-people></alma-chart-difficulty-finding-people>
<alma-chart-difficulty-keeping-people></alma-chart-difficulty-keeping-people>

