﻿  p {
      font-size: 12px;
      font-family: sans-serif;
      font-weight: bold;
  }
  
  h4 .header {
      font-size: 20px;
      font-family: sans-serif;
      font-weight: bold;
      width: auto;
      display: inline-block;
  }
  
  #tags {
      margin-bottom: 10px;
      font-size: 12px;
      font-family: sans-serif;
  }
  
  .dc-table-group {
      background-color: #A7C942;
      font-weight: bold;
      text-align: center;
  }
  
  text.pie-slice {
      color: #000000;
  }
  
  text.row {
      color: #000000;
  }
  
  text {
      font-family: sans-serif;
  }
  
  #dc-ring-attracting-workers svg {
      height: 300px;
  }
  
  #dc-ring-employee-retention svg {
      height: 300px;
  }
  
  #dc-bar-industries svg {
      height: 300px;
      width: 370px;
  }
  
  #dc-row-regions svg {
      height: 300px;
      width: 340px;
  }
  
  #dc-pie-number-of-employees svg {
      height: 340px;
      width: 340px;
  }
  
  #dc-pie-skills-to-attract svg {
      height: 340px;
  }
  
  #nv-stacked-incentives svg {
      height: 370px;
  }
  
  .dc-chart g.row text,
  .dc-chart .pie-slice {
      fill: black;
      font-weight: bold;
  }
  
  .progress {
      height: 3em;
      i {
          line-height: 3.5em;
      }
  }
  
  .progress-bar {
      transition: width 1s ease-in-out;
  }
