<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="navbar-brand" href="#">Advanced Labour Market Analytics</a>
        <ul class="nav navbar-nav">
            <li><a ui-sref="poc-novi">Survey</a></li>
            <li><a ui-sref="poc-home">Dashboard</a></li>
        </ul>
    </div>
</div>