<alma-dashboard-header></alma-dashboard-header>
<div class="container body-content">
    <div class="view-container">
        <div class="container">            <div ui-view class="view-frame"></div>
        </div>
    </div>
</div>
